<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--对应mapper接口 -->
<mapper namespace="com.webank.webase.chain.mgr.frontgroupmap.FrontGroupMapMapper">
  <resultMap id="frontGroupMap" type="com.webank.webase.chain.mgr.frontgroupmap.entity.FrontGroup">
    <id column="map_id" javaType="java.lang.Integer" jdbcType="INTEGER" property="mapId"/>
    <result column="chain_id" javaType="java.lang.Integer" jdbcType="INTEGER" property="chainId"/>
    <result column="group_id" javaType="java.lang.Integer" jdbcType="INTEGER" property="groupId"/>
    <result column="front_id" javaType="java.lang.Integer" jdbcType="INTEGER" property="frontId"/>
    <result column="front_ip" javaType="java.lang.String" jdbcType="VARCHAR"  property="frontIp"/>
    <result column="front_port" javaType="java.lang.Integer" jdbcType="INTEGER" property="frontPort"/>
  </resultMap>

  <insert id="add" parameterType="com.webank.webase.chain.mgr.frontgroupmap.entity.TbFrontGroupMap">
    insert ignore into tb_front_group_map
    (chain_id,front_id,group_id,create_time,modify_time)
    values(#{chainId},#{frontId},#{groupId},NOW(),NOW())
    <selectKey keyProperty="mapId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>

  <select id="getCount" resultType="java.lang.Integer" parameterType="com.webank.webase.chain.mgr.frontgroupmap.entity.MapListParam">
    select count(1) from tb_front_group_map where 1=1
    <if test="mapId != null">
      and map_id = #{param.mapId}
    </if>
    <if test="frontId != null">
      and front_id = #{frontId}
    </if>
    <if test="groupId != null">
      and group_id = #{groupId}
    </if>
    <if test="chainId != null">
      and a.chain_id = #{chainId}
    </if>
  </select>

  <select id="getList" resultMap="frontGroupMap" parameterType="com.webank.webase.chain.mgr.frontgroupmap.entity.MapListParam">
    select a.map_id,a.chain_id,a.group_id,a.front_id,b.front_ip,b.front_port
    from tb_front_group_map a
    left join tb_front b on(a.front_id=b.front_id)
    left join tb_group c on(a.chain_id=c.chain_id and a.group_id=c.group_id)
    left join tb_chain d on(a.chain_id=d.chain_id)
    where 1=1
    <if test="mapId != null">
      and a.map_id = #{param.mapId}
    </if>
    <if test="frontId != null">
      and a.front_id = #{frontId}
    </if>
    <if test="groupId != null">
      and a.group_id = #{groupId}
    </if>
    <if test="chainId != null">
      and a.chain_id = #{chainId}
    </if>
  </select>

  <delete id="removeByChainId">
     delete from tb_front_group_map where chain_id = #{chainId}
  </delete>

  <delete id="removeByFrontId">
     delete from tb_front_group_map where front_id = #{frontId}
  </delete>

  <delete id="removeByGroupId">
     delete from tb_front_group_map 
     where chain_id = #{chainId}
       and group_id = #{groupId}
  </delete>
</mapper>